/*
selector {
    propiedad: valor !important;
}
*/
#ana {
    border-radius: 50% !important;

}

#presentacion {
    min-height: 85vh;
    display: flex;
    justify-content: start;
    align-items: center;

    background-image: url(assets/FONDO.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.proyecto {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#proyecto-1 {
    background-image: url('assets/Clongoogle.png');
}

#proyecto-2 {
    background-image: url('');
}

.text-shadow-1 {
    text-shadow: 1px -1px 8px rgba(0, 0, 0, .90);
}

.imagen-redonda {
    border-radius: 50%;
}